# Sales Analysis

## Import necessary libraries

In [1]:
import os
import pandas as pd
import datetime as dt

## Merge data from each month into one CSV

### Set input and output path

In [2]:
path_in = "./Sales_Data"
path_out = "./Output"

### Ignore hidden files

In [3]:
files = [file for file in os.listdir(path_in) if not file.startswith('.')]

### Create an empty dataframe where to put the data

In [4]:
all_months_data = pd.DataFrame()

#### Auxiliary code to split the procedure in sub-tasks

In [5]:
# Check the iteration

for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [6]:
# Check the iteration

for file in files:
    print(path_in+"/"+file)

./Sales_Data/Sales_April_2019.csv
./Sales_Data/Sales_August_2019.csv
./Sales_Data/Sales_December_2019.csv
./Sales_Data/Sales_February_2019.csv
./Sales_Data/Sales_January_2019.csv
./Sales_Data/Sales_July_2019.csv
./Sales_Data/Sales_June_2019.csv
./Sales_Data/Sales_March_2019.csv
./Sales_Data/Sales_May_2019.csv
./Sales_Data/Sales_November_2019.csv
./Sales_Data/Sales_October_2019.csv
./Sales_Data/Sales_September_2019.csv

### Fill the dataframe for Merged Data

https://www.statology.org/pandas-merge-on-index/

In [7]:
for file in files:
    current_data = pd.read_csv(path_in+"/"+file)  # extract th content of 1 file and put it in a dataframe
    all_months_data = pd.concat([all_months_data, current_data])   # concatenate to the dataframe done before (all_months_data) the result of extraction (current_data)

### Save the Merged Data Dataframe to a csv file

**Note:** I don't want to put the first header raw for each file, so I set `index=False`

In [8]:
all_months_data.to_csv(path_out+"/"+"all_data.csv", index=False)

## Read in updated dataframe

In [9]:
all_data = pd.read_csv(path_out+"/"+"all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

## <ins>**Data Cleaning**</ins>
The first step in this is figuring out what we need to clean.   
Based on the analysis scope, you decide how you should go about cleaning the data.   
If check for them at the very beginning, or find things you need to clean as you perform operations and get errors.

### Drop rows of NAN

#### Find NAN

In [10]:
nan_df = all_data[all_data.isna().any(axis=1)]

In [11]:
nan_df.head(10)

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN
1571      NaN     NaN              NaN        NaN        NaN              NaN
1992      NaN     NaN              NaN        NaN        NaN              NaN
2265      NaN     NaN              NaN        NaN        NaN              NaN
2798      NaN     NaN              NaN        NaN        NaN              NaN
3024      NaN     NaN              NaN        NaN        NaN              NaN

#### Dimensions of the nan_df

In [12]:
display(nan_df.shape)

(545, 6)

#### Count NaN values under an entire DataFrame:

In [13]:
nan_df.isna().sum().sum()

3270

#### Number of elements in nan_df

In [14]:
display(nan_df.size)

3270

**Note:** <ins>All the raws are entirely filled with null values, I can delete them without worrying loosing data.</ins>

#### Delete all nan row in the `all_data` dataframe

In [15]:
all_data = all_data.dropna(how='all')

## Rename the columns to one_word

In [16]:
all_data.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [17]:
all_data.rename(columns={'Order ID': 'Order_ID', 'Quantity Ordered': 'Quantity_Ordered', 'Price Each': 'Price_Each', 'Order Date':'Order_Date',
       'Purchase Address':'Purchase_Address'}, inplace= True)

## Make columns correct type

Set the correct type form columns:
* Order_Date
* Quantity_ordered
* Price_Each

### First thing, convert "Order_Date" values from string to datetime

In [18]:
all_data['Order_Date_Datetime'] = pd.to_datetime(all_data['Order_Date'])

ParserError: Unknown string format: Order Date

So i get the error: `Unknown string format: Order Date`  
Let's try to figure out why it happened.

### Get rid of text in "Order Date" column

In [19]:
all_data

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [20]:
temp_df= all_data[all_data['Order_Date'] =='Order Date']

In [21]:
temp_df

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

Seems like there are 355 rows to delete.  
Let's verify if all of them are duplicated.

In [22]:
temp_df.duplicated().sum()

354

The duplicated count doesn't match the "temp_df" number of rows.
Let's check the content of the remainig raws/raws.

In [23]:
temp_df.drop_duplicates()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [24]:
all_data = all_data[all_data['Order_Date'] !='Order Date']

It seems fairly the same, likely there are some empty spaces.  
I can proceed to get rid of all "temp_df" raws, by overwriting directly on "all_data" dataframe.

all_data.info()

Now I run again:

In [25]:
all_data['Order_Date_Datetime'] = pd.to_datetime(all_data['Order_Date'])

C:\Users\barba\AppData\Local\Temp\ipykernel_13656\1948692681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Datetime'] = pd.to_datetime(all_data['Order_Date'])

> It worked, but I got a **"SettingWithCopyWarning"**.  
> I want to go deeper into this issue.

I get “SettingWithCopyWarning” also with:

In [26]:
def find_month(date):
    return date.month

In [27]:
all_data["Month"]=all_data["Order_Date_Datetime"].apply(find_month)

C:\Users\barba\AppData\Local\Temp\ipykernel_13656\2714769117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data["Month"]=all_data["Order_Date_Datetime"].apply(find_month)

In [28]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order_ID             185950 non-null  object
 1   Product              185950 non-null  object
 2   Quantity_Ordered     185950 non-null  object
 3   Price_Each           185950 non-null  object
 4   Order_Date           185950 non-null  object
 5   Purchase_Address     185950 non-null  object
 6   Order_Date_Datetime  185950 non-null  datetime64[ns]
 7   Month                185950 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 12.8+ MB

Or alternatevely:

In [29]:
all_data['Month_test'] = pd.to_datetime(all_data['Order_Date']).dt.month

C:\Users\barba\AppData\Local\Temp\ipykernel_13656\2183431071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Month_test'] = pd.to_datetime(all_data['Order_Date']).dt.month

I don't want to let warning in my code, it could lead to future problems.

In [30]:
all_data.head(3)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Datetime,Month,Month_test
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,4,4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,4,4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,4,4

I'll start again, in order to write a code that doesn't throw this warning.   
But first I'm get rid of the columns that I'm going to generate again with th **Dataframe.assign** method.

In [31]:
del all_data["Month"]
del all_data["Month_test"]
del all_data["Order_Date_Datetime"]

In [32]:
all_data.head(3)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Use **"Dataframe.assign"** to avoid **"SettingWithCopyWarning"**: 

> If I want to <ins>duplicate a column</ins> and <ins>work on it</ins> without having the **"SettingWithCopyWarning"**

Solution from stack overflow https://stackoverflow.com/questions/12555323/how-to-add-a-new-column-to-an-existing-dataframe

```python 
dataframe.assign(new_column_name=pd.Series(dataframe['Column Name']).values)  
```
in case the new column is from another dataframe:
```python 
dataframe1.assign(new_column_name=pd.Series(dataframe2['Column Name']).values)  

```

In [33]:
all_data = all_data.assign(Order_Date_Copy=pd.Series(all_data['Order_Date']).values)

In [34]:
all_data.head(3)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Copy
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04/19/19 08:46
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04/07/19 22:30
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19 14:38

> **I find out that after running “Dataframe.assign”, the following instruction doesn't throw “SettingWithCopyWarning” anymore.**
> ```python
> all_data['Order_Date_Datetime'] = pd.to_datetime(all_data['Order_Date'])
> ```

In [35]:
all_data['Order_Date_Datetime'] = pd.to_datetime(all_data['Order_Date'])
all_data.head(3)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Copy,Order_Date_Datetime
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04/19/19 08:46,2019-04-19 08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04/07/19 22:30,2019-04-07 22:30:00
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19 14:38,2019-04-12 14:38:00

I get rid of this columns, then I proceed to calculate a new column "Month" directly with “DataFrame.assign” and “lambda” function

In [36]:
del all_data["Order_Date_Copy"]
del all_data["Order_Date_Datetime"]

In [37]:
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity_Ordered  185950 non-null  object
 3   Price_Each        185950 non-null  object
 4   Order_Date        185950 non-null  object
 5   Purchase_Address  185950 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

None

#### Order_Date is in string format, I want to convert it in "datetime" data type with **"DataFrame.assign"** and "lambda" function

**Note: In order to use "dataframe.assign", the new column HAS TO BE a <ins>"on-word" column name </ins>.**   
That's the reason why at the beginning I changed the column names.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html?highlight=assign#pandas.DataFrame.assign

In [38]:
all_data = all_data.assign(Order_Date_Datetime=lambda x: pd.to_datetime(x.Order_Date))
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Datetime
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order_ID             185950 non-null  object
 1   Product              185950 non-null  object
 2   Quantity_Ordered     185950 non-null  object
 3   Price_Each           185950 non-null  object
 4   Order_Date           185950 non-null  object
 5   Purchase_Address     185950 non-null  object
 6   Order_Date_Datetime  185950 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 11.3+ MB

None

### Column Quantity_Ordered

In [39]:
all_data = all_data.assign(Quantity_Ordered_Numeric=lambda x: pd.to_numeric(x.Quantity_Ordered))
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Datetime,Quantity_Ordered_Numeric
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Order_ID                  185950 non-null  object
 1   Product                   185950 non-null  object
 2   Quantity_Ordered          185950 non-null  object
 3   Price_Each                185950 non-null  object
 4   Order_Date                185950 non-null  object
 5   Purchase_Address          185950 non-null  object
 6   Order_Date_Datetime       185950 non-null  datetime64[ns]
 7   Quantity_Ordered_Numeric  185950 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 12.8+ MB

None

### Column Price_Each

In [40]:
all_data = all_data.assign(Price_Each_Numeric=lambda x: pd.to_numeric(x.Price_Each))
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Order_Date_Datetime,Quantity_Ordered_Numeric,Price_Each_Numeric
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2,11.95
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1,99.99
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1,600.00

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Order_ID                  185950 non-null  object
 1   Product                   185950 non-null  object
 2   Quantity_Ordered          185950 non-null  object
 3   Price_Each                185950 non-null  object
 4   Order_Date                185950 non-null  object
 5   Purchase_Address          185950 non-null  object
 6   Order_Date_Datetime       185950 non-null  datetime64[ns]
 7   Quantity_Ordered_Numeric  185950 non-null  int64
 8   Price_Each_Numeric        185950 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 14.2+ MB

None

Now that I verified that values are ok, I delete the old columns, and rename the new columns with the same names, to keep the dataframe clear and clean.

In [41]:
del all_data["Quantity_Ordered"]
del all_data["Price_Each"]
del all_data["Order_Date"]

In [42]:
all_data.rename(columns={'Quantity_Ordered_Numeric': 'Quantity_Ordered', 'Price_Each_Numeric': 'Price_Each', 
                         'Order_Date_Datetime':'Order_Date'}, inplace= True)

In [43]:
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Purchase_Address,Order_Date,Quantity_Ordered,Price_Each
0,176558,USB-C Charging Cable,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2,11.95
2,176559,Bose SoundSport Headphones,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1,99.99
3,176560,Google Phone,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1,600.00

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Purchase_Address  185950 non-null  object
 3   Order_Date        185950 non-null  datetime64[ns]
 4   Quantity_Ordered  185950 non-null  int64
 5   Price_Each        185950 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 9.9+ MB

None

## Augment data with additional columns

Add columns:
* Month
* City

### Add month column

In [45]:
all_data = all_data.assign(Month=lambda x: x.Order_Date.dt.month)
display(all_data.head(3))
display(all_data.info())

,Order_ID,Product,Purchase_Address,Order_Date,Quantity_Ordered,Price_Each,Month
0,176558,USB-C Charging Cable,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2,11.95,4
2,176559,Bose SoundSport Headphones,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1,99.99,4
3,176560,Google Phone,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1,600.00,4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Purchase_Address  185950 non-null  object
 3   Order_Date        185950 non-null  datetime64[ns]
 4   Quantity_Ordered  185950 non-null  int64
 5   Price_Each        185950 non-null  float64
 6   Month             185950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 11.3+ MB

None

#### Add month column (alternative method)
Note: now works without “SettingWithCopyWarning”, because previously I applied Dataframe.assign method to the dataframe.

In [46]:
all_data['Month_alt_metod'] = all_data['Order_Date'].dt.month
all_data.head(3)

,Order_ID,Product,Purchase_Address,Order_Date,Quantity_Ordered,Price_Each,Month,Month_alt_metod
0,176558,USB-C Charging Cable,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2,11.95,4,4
2,176559,Bose SoundSport Headphones,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1,99.99,4,4
3,176560,Google Phone,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1,600.00,4,4

In [47]:
del all_data['Month_alt_metod'] 
all_data.head(3)

,Order_ID,Product,Purchase_Address,Order_Date,Quantity_Ordered,Price_Each,Month
0,176558,USB-C Charging Cable,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,2,11.95,4
2,176559,Bose SoundSport Headphones,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,1,99.99,4
3,176560,Google Phone,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,1,600.00,4

In [ ]:
stop

### Add city column

In [ ]:
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

all_data['City'] = all_data['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")
all_data.head()

## <ins>**Data Analysis**</ins>

#### Question 1: What was the best month for sales? How much was earned that month?

In [ ]:
all_data['Sales'] = all_data['Quantity Ordered'].astype('int') * all_data['Price Each'].astype('float')

In [ ]:
all_data.groupby(['Month']).sum()

In [ ]:
import matplotlib.pyplot as plt

months = range(1,13)
print(months)

plt.bar(months,all_data.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

#### Question 2: What city sold the most product?

In [ ]:
all_data.groupby(['City']).sum()

In [ ]:
import matplotlib.pyplot as plt

keys = [city for city, df in all_data.groupby(['City'])]

plt.bar(keys,all_data.groupby(['City']).sum()['Sales'])
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

#### Question 3: What time should we display advertisements to maximize likelihood of customer's buying product?

In [ ]:
# Add hour column
all_data['Hour'] = pd.to_datetime(all_data['Order Date']).dt.hour
all_data['Minute'] = pd.to_datetime(all_data['Order Date']).dt.minute
all_data['Count'] = 1
all_data.head()

In [ ]:
keys = [pair for pair, df in all_data.groupby(['Hour'])]

plt.plot(keys, all_data.groupby(['Hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.show()

# My recommendation is slightly before 11am or 7pm

#### Question 4: What products are most often sold together?

In [ ]:
# https://stackoverflow.com/questions/43348194/pandas-select-rows-if-id-appear-several-time
df = all_data[all_data['Order ID'].duplicated(keep=False)]

# Referenced: https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df2 = df[['Order ID', 'Grouped']].drop_duplicates()

In [ ]:
# Referenced: https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary
from itertools import combinations
from collections import Counter

count = Counter()

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

#### What product sold the most? Why do you think it sold the most?

In [ ]:
product_group = all_data.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

keys = [pair for pair, df in product_group]
plt.bar(keys, quantity_ordered)
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

In [ ]:
# Referenced: https://stackoverflow.com/questions/14762181/adding-a-y-axis-label-to-secondary-y-axis-in-matplotlib

prices = all_data.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(keys, quantity_ordered, color='g')
ax2.plot(keys, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered', color='g')
ax2.set_ylabel('Price ($)', color='b')
ax1.set_xticklabels(keys, rotation='vertical', size=8)

fig.show()